.navbar-nav{
    padding-left: 15%;
}
.nav-item{
    margin: 0 20px;
}
.cover img{
    width: 100%;
    height: 657px;
}
.aboutus{
    text-align: center;
    margin-top: 100px;
}
.aboutus h3{
    text-decoration: underline;
}
.aboutus p{
    margin-top: 50px;
}
.service{
    margin-top: 100px;
}
.service h3{
    text-align: center;
    text-decoration: underline;
}
.card{
    display: inline-block;
    margin:22px;
}
.cards{
  margin:10% 40%;
}
.team{
    margin-top: 100px;
    background-color: black;
    height: 90vh;
}
.team h3{
    color:white;
    text-decoration: underline;
    text-align: center;
}
.team .card-text{
    color: white;
}
.card-body p{
    text-align: center;
}
.testi h3{
    margin-top: 100px;
    text-decoration: underline;
}
.footer{
    margin-top: 100px;
}
.ft{
    display: inline-block;
    margin-left: 110px;
    
}
.ft p{
    color: white;
}
body{
    overflow-x: hidden;
}